

.list_content{
    text-align: center;
    font-weight: bolder; 
}

img {
    width: 40vw;
    object-fit: cover;
  }

  @media screen and (min-width: 770px){

    .list_content img {
        width:100%;
        border-radius: 10px;
      }

     .list_content p{
        font-size: 50%;
      }

}