
  .body_action_bar{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    background-color: var(--grey);
  }

  .icon{
    color: var(--white);
    font-size: 150%;
    margin: 16px;
    cursor: pointer;
  }

  .description_container{
    display: flex;
    flex-direction: column;
    margin: 0px 40px
  }


  
  .searcher{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 16px 0px;
  }
  
  .trend_container{
    width: 100vw;
  }
 
  .cards_container{
    white-space: nowrap;
    padding: 4px;
    overflow-x: scroll;
    overflow-y: hidden; 
  }
  
  .cards_container::-webkit-scrollbar { 
    width: 0!important }
  
  
