
.body{
  border-radius: 16px;
  margin: auto;
  margin-top: 65px;
  width: 100vw;
  z-index: 1;
}
.container-bar-info{
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.body_action_bar{
  width: 100%;
  display: grid;
  border-radius: 10px;
  margin: 5px auto;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  place-content: center;
  background-color:var(--black);

}
.body_action_bar .icon{
  min-width: 100%;
  min-height: 100%;
  font-size: 35px;
  overflow: hidden;
  cursor: pointer;
  color: var(--white);
  display: flex;
  padding: 5px;
  place-content: center;
}
.icon:hover{
  background-color: rgba(10,80,99,.5);
}
.body_action_bar .icon:not(:last-child){
  border-right: 1px solid var(--grey);

}
.detail_img{
  border-radius: 10px;
  width: 100%;
  object-fit:contain;
}

.description_container{
  margin: 10px;
  letter-spacing: 1.2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
}

.trend_container{
  width: 100vw;
}

.relacionadas h2:first-child{
  margin: 20px auto;
  display: flex;
  place-content: center;
}

@media screen and (min-width: 767px){
  .body{
    padding: 10px;
    margin-top: 80px;
  }
  .detail_main_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
  }
  .detail_img{
    justify-content: center;
    object-fit:contain;
    
  }
  .container-bar-info{
    display: inline;
    height: 100%;
  
  }
}
