
.genre_list_container{
    margin: auto;
    width: 300px;
}

select{
    padding: 15px;
    border-radius: 10px;
    background-color: #121212;
    color: #fff;
    font-weight: bold;
    max-height: 200px;
    overflow: scroll;
    cursor: pointer;
}

@media screen and (max-width: 760px){
    select{
        width: 100%;
    }
}