.intro_container{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.intro_container h2{
    margin-bottom: 20px;
}
.results_container{
    border-radius: 16px;
    background-color: var(--white);
    color: #121212;
    padding: 10px;
}
.results_container h3{
    text-align: left;
    padding-left: 50px;
}
.search-categoria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.list_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    min-width: 100%;
    margin: 20px auto;
    padding: 5px 10px;
}

@media screen and (max-width: 760px){
    .search-categoria{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){

    .list_container{
        box-sizing: border-box;
        margin: 0px 90px 0px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        align-items: center;
        padding: 10px;
    }
}