.intro_container{
    text-align: center;
    margin: 20px auto;
}
.results_container{
    border-radius: 16px;
    background-color: var(--white);
    color: #121212;
    padding-top: 20px;
}
.results_container h3{
    text-align: left;
    padding-left: 50px;
}
.search-categoria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
}

.list_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
    margin: 20px auto;
}

@media screen and (max-width: 760px){
    .search-categoria{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 770px){

    .list_container{
        box-sizing: border-box;
        margin: 0px 90px 0px 20px;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: auto;
        gap: 10px;
    }
}