 
 .skeleton_container{

    width: 250px;
    height: 350px;

 } 
  
  .skeleton_cards{ 
    width: 250px;
    height: 85%;
    background-color: var(--darkWhite);
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    animation: loading-skeleton infinite 1.7s;

  }
  
  .card_skeleton_info{
    width:250px;
    height: 14%;
    background-color: var(--darkWhite);
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    animation-delay: 0.2;
    animation: loading-skeleton infinite 1.7s;
    
  }

 .desktop_skeleton_container{
    display:none;
  }

@media screen and (min-width: 770px){
    .card_skeleton_info{
        width: 0%;
        height: 0%;
    }

    .desktop_skeleton_container{
          display:block;
    }
  
}

.odd_skeleton{
  animation-delay: .2s;
}

.even_skeleton{
  animation-delay: .2s;
}


/* Animations */
@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
