.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    color: white;
  }