.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--black);
    width: 100%;
    font-weight: bold;
    cursor: default;
    min-height: 80px;
    margin: 0 auto;
}