.header{
    display: grid;
    grid-template-columns: repeat(3,33%);
    text-align: center;
    gap: 10px;
   padding: 16px 0px
  }
  .header_left{
    text-align: left;
    margin-left: 18px;
  }
  .header_right{
    text-align: right;
    margin-right: 32px;
  }