:root{
  box-sizing: border-box;
}
.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
}
.logo{
  min-width: 120px;
  max-width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logo::after{
  content:'';
  height: 80%;
  position: absolute;
  top: 15%;
  right: 0;
  border-right: 2px solid var(--dark-red);
}
.userHorizontal{
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userVertical{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar{
  display: flex;
}
.menuBtn{
  display: inline-block; 
  cursor: pointer;
}

@media screen and (max-width: 770px){
  .header{
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-items: end;
    max-width: 100%;
    padding: 0 20px;
    overflow: hidden;
  }
  .logo{
    width: 100%;
  }
    .userHorizontal{
    display: none;
  }
  .menuBtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menuBtn:first-child{
    font-size: 50px;
  }
}