
.my_list_content{
    text-align: center;
    font-weight: bolder;
    max-width: 180px;
  }
  
  .my_list_content p{
    line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black);
  }
  img{
    width: 100%;
    min-height: 280px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #000;
  }
  
  @media screen and (min-width: 760px){
    .my_list_content{
      min-width: 200px;
      max-width: 200px;
    }
    .my_list_content img {
      width:100%;
      border-radius: 10px;
    }
  }