.listaLinks {
    font-size: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: flex-end;
    letter-spacing: 0.02em;
    list-style: none;
    
}

.link{
    position: relative;
    top: 0;
    border-radius: 0.375rem;
    width: 200px;
    border: 2px solid #891010;
    padding: 0.25rem;
    text-align: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #000 !important;
    cursor: pointer;
    transition: top 300ms, left 300ms, box-shadow 300ms, background-color 300ms;
}
.link a{
    color:#fff;
    text-decoration: none;
}

.link:active, .link:hover {
    top: 1px;
    left: 1px;
    background-color: #fff;
    box-shadow: none;
}
.link-active a, .link:hover a{
    color: #000;
}
