*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red: #db0000;
  --black: #000000;
  --soft-black:#242424;
  --white: #ffffff;
  --grey: #564d4d;
  --dark-red: #831010;

  --sm: 14px;
  --md:16px;
  --lg:18px;
}

button{
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

